@use "../../abstracts/index" as *;


.group-btn {
    display: flex;
    align-items: center;
}

.text-has-dot {
    display: flex;
    align-items: center;
    gap: 6px;

    @include res(xl, min) {
        gap: 12px;
    }
}

.wg-feature-v01 {
    box-shadow: 0px 0px 0px 1px #FFFFFF0D inset;
    position: relative;
    display: grid;

    .feature-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 28px 28px 28px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .tag {
            margin-bottom: 8px;
        }

        >* {
            position: relative;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            backdrop-filter: blur(2px);
            z-index: 0;
        }
    }
}

.wg-process {
    border: 1px solid var(--white-16);
    padding: 28px;
    position: relative;
    @include transition3;
    background-color: var(--black);

    .bg-img {
        position: absolute;
        inset: 0;
        z-index: 0;
        @include transition3;
        @include hidden;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .img-icon {
        margin-bottom: 30px;
    }

    .title {
        margin-bottom: 24px;
    }

    .br-line {
        background-color: var(--white-16);
        display: flex;
        margin-bottom: 24px;
    }

    .bot {
        display: flex;
        align-items: end;
        gap: 24px;

        .img-item {
            flex-shrink: 0;
        }
    }



    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        border-color: var(--primary);

        .bg-img {
            @include visible;
        }
    }

    @include res(lg, min) {
        .desc {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        .content{
            height: 100%;
        }
    }

    @include res(xl, min) {
        aspect-ratio: 1;
    }

    @include res(xl) {
        .img-icon {
            max-width: 80px;
        }

        padding: 20px 15px;
    }

    @include res(md) {
        .bot {
            flex-wrap: wrap;
            gap: 12px;
        }
    }
}

.wg-service {
    position: relative;

    .bg-image {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        .img-item {
            position: absolute;
            inset: 0;
            z-index: 0;
            background: #0000008F;
            backdrop-filter: blur(24px);
        }
    }

    .image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 530px;
        }
    }

    .image,
    .image-2 {
        box-shadow: 0px 0px 0px 1px #FFFFFF0D inset;
    }

    .action {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);

        &.active-2 {
            right: 100%;
        }
    }

    .title {
        margin-bottom: 16px;
    }

    .br-line {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .tf-list {
        gap: 16px;
        margin-bottom: 60px;
    }

    @include res(xl) {
        .br-line {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .tf-list {
            margin-bottom: 40px;
        }
    }

    @include res(lg) {
        .image {
            margin-bottom: 30px;
        }

        .action {
            right: 55px;
        }
    }

    @include res(sm) {
        .image {
            img {
                max-height: 300px;
            }
        }
    }
}

.wg-tech {
    padding: 24px 0px 23px;
    border-bottom: 1px solid var(--white-16);
    position: relative;
    @include transition3;

    .tech_text {
        color: var(--white-32);
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    >.tech_text {
        @include transition3;
        @include visible;
    }

    .infiniteSlide_tech_main {
        position: absolute;
        inset: 0;
        background: rgba(var(--primary-rgb), 0.08);
        @include transition3;
        @include hidden;
        display: flex;
        align-items: center;
    }

    .infiniteSlide_tech {
        >* {
            margin-left: 20px;
            margin-right: 20px;
        }

        .tech_text {
            .text {
                color: var(--white);
            }

            .process {
                color: var(--primary);
            }
        }
    }


    .app_icon {
        box-shadow: 0px 0.5px 0.5px 0px #FFFFFF52 inset,
            0px 1px 0.5px 0px #FFFFFF1F inset,
            0px 4px 16px 0px #FFFFFF29 inset,
            0px -12px 16px 0px #FFFFFF0F inset,
            0px 0px 0px 1px #0000008F,
            0px 3px 6px 0px #00000030,
            0px 10px 10px 0px #0000000F,
            0px 12px 16px 0px #0000000F,
            0px 23px 14px 0px #0000000F;
        backdrop-filter: blur(12px);
        border-radius: 999px;
    }

    &:hover,
    &.active {
        border-color: rgba(var(--primary-rgb), 0.16);

        .infiniteSlide_tech_main {
            @include visible;
        }

        >.tech_text {
            @include hidden;
        }
    }

    @include res(lg) {
        .infiniteSlide_tech {
            >* {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.wg-indicator {
    text-align: center;

    .indicate-title {
        margin-bottom: 24px;
    }

    .indicate-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
    }

    @include res(xl, min) {
        .indicate-title {
            margin-bottom: 40px;
        }
    }
}

.wg-plan {
    padding: 48px;
    padding-top: 0;
    position: relative;

    .br-line {
        display: flex;
        height: 2px;
        margin-bottom: 26px;
    }

    .plan-name,
    .plan-desc,
    .btn-action {
        margin-bottom: 40px;
    }

    .plan-price {
        margin-bottom: 24px;
        display: flex;
        align-items: start;
        gap: 6px;
        letter-spacing: -0.8px;
    }

    .benefit-list {
        gap: 16px;

        li {
            &:not(.benefit_title) {
                span {
                    color: var(--white-64);
                }
            }
        }
    }

    .bg-img {
        position: absolute;
        inset: 0;

        &.bg-img_1 {
            background-image: url("./../../assets/images/item/start.png");
            background-repeat: repeat-y;
            background-position: center;
            animation: moveUp 60s linear infinite;
        }

        &.bg-img_2 {
            display: flex;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.style-2 {
        border: 1px solid rgba(var(--primary-rgb), 0.16);
        backdrop-filter: blur(6px);
        overflow: hidden;

        &.type-2 {
            background-color: #07C42C0D;

            .bg-img {
                overflow: hidden;
                filter: blur(320px);

                img {
                    transform: unset;
                    mix-blend-mode: overlay;
                    filter: blur(160px);
                }
            }
        }

        &.type-3 {
            border-color: #FFFFFF1A;
            background-color: #FFFFFF0D;
        }
    }

    @include res(xl, min) {
        .br-line {
            margin-bottom: 46px;
        }
    }

    @include res(xl) {
        padding: 20px 15px;
        padding-top: 0;
    }
}

.wg-work {
    box-shadow: 0px 0px 0px 1px #FFFFFF0D inset;
    position: relative;

    .work-image {

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 350px;
        }
    }

    .work-content {
        position: absolute;
        inset: 0;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



    }

    .work_top,
    .work_bottom {
        display: flex;
        justify-content: space-between;
    }

    .work_bottom {
        align-items: end;
    }

    @include res(xl, min) {
        .work-content {
            padding: 32px;

            .tf-list {
                gap: 16px;
            }
        }
    }
}

.wg-tech-v2 {
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid var(--white-32);
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    @include transition3;
    position: relative;
    overflow: hidden;
    padding: 20px;

    .tech-name {
        margin-bottom: 24px;
    }

    .tech-desc {
        margin-bottom: 32px;
        color: var(--white-64);
    }

    .tech-content {
        position: relative;
        z-index: 2;
    }

    >canvas {
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100% !important;
        height: 100% !important;
    }

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(65.62% 65.62% at 50% 50%, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
        box-shadow:
            0px 0.5px 0.5px 0px #FFFFFF52 inset,
            0px 1px 0.5px 0px #FFFFFF1F inset,
            0px 4px 16px 0px #FFFFFF29 inset,
            0px -12px 16px 0px #FFFFFF0F inset,
            0px 0px 0px 1px #0000008F,
            0px 3px 6px 0px #00000030,
            0px 10px 10px 0px #0000000F,
            0px 12px 16px 0px #0000000F,
            0px 23px 14px 0px #0000000F;
    }

    @include res(xl, min) {
        .tech-name {
            margin-bottom: 40px;
        }

        .tech-desc {
            margin-bottom: 52px;
        }
    }

    @include res(xl) {
        >canvas {
            display: none;
        }
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    --preloader-clip: 0;
    clip-path: inset(0 0 0 var(--preloader-clip));
    background-color: var(--black);

    span {
        font-size: 80px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        overflow-x: hidden;
    }

    .preloader-gutters {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;

        .bar {
            width: 12.5%;
            height: 100%;
            background: transparent;
            position: relative;

            .inner-bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: var(--primary);
            }
        }
    }

    .preloader-overlay {
        background-color: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        transform: translateX(-100%);
        opacity: 0.2;
    }

    .site-name {
        background-color: var(--secondary);
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        span {
            font-size: 80px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .preloader .site-name span {
        font-size: 40px;
    }
}

/*-- Button Go Top --*/
#goTop {
    position: fixed;
    padding: 0;
    bottom: 40px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: var(--black);
    color: var(--white);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    box-shadow: 0px 4px 20px 0px #ffffff1a;
    z-index: 1000;
    @include flex(center, center);
    @include transition3;

    .border-progress {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 1px solid var(--primary);
        mask-image: conic-gradient(var(--primary) var(--progress-angle, 0deg), transparent 0);
        -webkit-mask-image: conic-gradient(var(--primary) var(--progress-angle, 0deg), transparent 0);
        content: "";
        z-index: 1;
        @include transition3;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .icon {
        font-size: 12px;
        color: var(--primary);
        transform: rotate(-90deg);
        aspect-ratio: 1;
    }

    .ic-wrap {
        @include transition3;
        animation: iconBounce 2s linear 0s infinite;
        display: flex;
    }

    &:hover {
        box-shadow: 0 8px 16px rgba(#000, 0.5);
    }

    @include res(lg, min) {
        right: 40px;
    }
}

.tf-left-bar {
    position: fixed;
    left: 15px;
    top: 100px;
    z-index: 1001;

    .btn-setting-color {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 20px;
        background-color: var(--primary);
        @include flex(center, center);
        color: var(--black);
        animation: spin 10s infinite ease;
        margin-bottom: 30px;
    }

    @include res(md) {
        display: none;
    }
}

.settings-color {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;

    .choose-item {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: relative;

        &:nth-child(1) {
            background: #07C42C;
        }

        &:nth-child(2) {
            background: #f8c736;
        }

        &:nth-child(3) {
            background: #f5772e;
        }

        &:nth-child(4) {
            background: #2ac6f8;
        }

        &:nth-child(5) {
            background: #8dca37;
        }

        &:nth-child(6) {
            background: #6c34fa;
        }

        &:nth-child(7) {
            background: #f14444;
        }

        &:nth-child(8) {
            background: #e14392;
        }

        &::before {
            position: absolute;
            content: "";
            border: 1px solid #fff;
            border-radius: 50%;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            @include transition3();
        }

        &.active {
            &::before {
                opacity: 1;
            }
        }
    }
}

.logo-site {
    .icon {
        font-size: 40px;
        color: var(--primary);
    }
}