@use "../abstracts/index" as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background-color: var(--black);

    &::-webkit-scrollbar {
        width: 4px; //
    }

    &::-webkit-scrollbar-thumb {
        cursor: grab;
        background-color: var(--primary);
    }
}


img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    border-collapse: collapse;
}

thead {
    // background-color: var(--line-8);
}

tbody {
    tr {
        &:nth-child(even) {
            // background-color: var(--line-8);
        }
    }
}

tr {
    th {
        &:not(:first-child) {
            // border-left: 1px solid var(--white);
        }
    }
}

td,
th {
    padding: 12px 16px;

    @include res(xl, min) {
        padding: 16px 24px;
    }
}


svg path {
    @include transition3();
}

button {
    background: transparent;
    border: 0;
    display: inline-flex;
    @include transition3;
}

select,
option {
    all: unset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
    color: var(--secondary-2);
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    @include transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-family: $font-main;
    color: var(--text);

    &:focus,
    &:hover {
        outline: 0;
    }
}

p {
    display: block;
}

.grid-2 {
    @include grid(2, 1fr);
}

.grid-3 {
    @include grid(3, 1fr);
}

.grid-4 {
    @include grid(4, 1fr);
}

.grid-6 {
    @include grid(6, 1fr);
}


[data-grid="grid-1"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

[data-grid="grid-2"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

[data-grid="grid-3"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

[data-grid="grid-4"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

[data-grid="grid-5"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}

[data-grid="grid-6"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

[data-grid="grid-7"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.tf-row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}


.overflow-unset {
    overflow: unset !important;
}

.sticky-top {
    position: sticky !important;
    z-index: 50;
    top: 15px;
    @include transition3;
}

.wmax {
    width: max-content !important;
}


#scroll-top {
    position: fixed;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 4px;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    background-color: var(--main);
    border: 0;
    bottom: 92px;
    right: 20px;
    padding: 0;
    @include flex(center, center);
    @include transition3;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.type-1 {
        bottom: 140px;
    }

    &:hover {
        transform: translateY(-5px);
        background-color: var(--primary);
    }
}

/* Preload 
------------------------------------------- */

.spinner {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-top: 3px solid var(--primary);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.br-line {
    width: 100%;
    height: 1px;
    display: inline-flex;
    background-color: var(--white-16);

    &.type-vertical {
        width: 1px;
        height: 16px;
    }
}

.br-dot {
    display: inline-flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 0px 2px 1px rgba(var(--primary-rgb), 0.2),
        0px 0px 6px 4px rgba(var(--primary-rgb), 0.2);
}

.line {
    border: 1px solid var(--white-16);
}

.tf-swiper {
    .swiper-slide {
        height: auto;

        >* {
            height: 100%;
        }

    }
}



.initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}

.marquee-wrapper {
    display: flex;
    animation: infiniteScroll 7s linear infinite;
    align-items: center;
    transition: animation-duration 300ms;
}



.flex-xl-1 {
    @include res(xl, min) {
        flex: 1 !important;
    }
}

.flex-sm-1 {
    @include res(sm, min) {
        flex: 1 !important;
    }
}

.h-unset {
    height: unset !important;
}

@include res(sm, min) {
    .h-sm-100 {
        height: 100% !important;
    }
}

@include res(xl, min) {
    .gap-xl-64 {
        gap: 64px !important;
    }

    .gap-xl-40 {
        gap: 40px !important;
    }

    .h-xl-unset {
        height: unset !important;
    }
}

@include res(xxl, min) {
    .text-xxl-nowrap {
        white-space: nowrap !important;
    }
}

@include res(xxxl, min) {
    .d-xxxl-flex {
        display: flex !important;
    }
}

.w-maxcontent {
    width: max-content !important;
}