/*------------ Layout ---------------- */
@forward "layout/layout";

/*------------ Header ---------------- */
@forward "header/header";

/*------------ Blog ---------------- */
@forward "blog/blog";

/*------------ Element ---------------- */
@forward "elements/animation";
@forward "elements/hover";
@forward "elements/box-icon";
@forward "elements/pop-up";
@forward "elements/tabs";
@forward "elements/form";
@forward "elements/button";
@forward "elements/section";
@forward "elements/slider";
@forward "elements/testimonial";
@forward "elements/widget";
@forward "elements/nice-select";
@forward "elements/accordion";

/*------------ Footer ---------------- */
@forward "footer/footer";