@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?grc9q8');
    src: url('fonts/icomoon.eot?grc9q8#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?grc9q8') format('truetype'), url('fonts/icomoon.woff?grc9q8') format('woff'), url('fonts/icomoon.svg?grc9q8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
    content: "\e913";
}

.icon-davies-logo:before {
    content: "\e912";
}

.icon-gear:before {
    content: "\e911";
}

.icon-twitter:before {
    content: "\e90a";
}

.icon-facebook:before {
    content: "\e90b";
}

.icon-dribbble:before {
    content: "\e90c";
}

.icon-dou-comments:before {
    content: "\e90d";
}

.icon-user:before {
    content: "\e90e";
}

.icon-clock:before {
    content: "\e90f";
}

.icon-instagram:before {
    content: "\e910";
}

.icon-search:before {
    content: "\e909";
}

.icon-close:before {
    content: "\e907";
}

.icon-arrow-top-right:before {
    content: "\e908";
}

.icon-plus:before {
    content: "\e900";
}

.icon-menu:before {
    content: "\e901";
}

.icon-arrow-long-left:before {
    content: "\e902";
}

.icon-arrow-long-right:before {
    content: "\e903";
}

.icon-arrow-caret-right:before {
    content: "\e904";
}

.icon-arrow-caret-left:before {
    content: "\e905";
}

.icon-arrow-caret-down:before {
    content: "\e906";
}